com.candela.home.browser.factory.class=com.jrako.candela.discovery.RakoHomeBrowserFactory
com.candela.controller.factory.class=com.jrako.candela.RakoAprTelnetControllerFactory

com.jrako.apr.netbios.name=RAKOBRIDGE
com.jrako.apr.house.id=1

